<app-infoagente></app-infoagente>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <img src="assets/escudo-policia-nacional.png" alt="police" width="350">
      <app-mensajes [mensaje]="mensaje"></app-mensajes>
      <button class="btn btn-primary btn-block" [routerLink]="['/multasagente']" routerLinkActive="router-link-active">Ver multas</button>
      <button class="btn btn-primary btn-block" [routerLink]="['/multasanuladasagente']" routerLinkActive="router-link-active">Ver multas Anuladas</button>
      <button class="btn btn-primary btn-block" [routerLink]="['/buscamatricula']">Poner multa</button>
      <button class="btn btn-primary btn-block" [routerLink]="['/verobjetivos']">Ver objetivos</button>
    </div>
  </div>
</div>
