<div class="container mt-5">
  <app-infoagente></app-infoagente>
  <app-mensajes [mensaje]="mensaje"></app-mensajes>
  <div class="row d-flex justify-content-center">
    <div>
      <span class="h1 mr-3">LISTADO DE ANULACIONES</span>
      <button [routerLink]="['/menuprincipal']" routerLinkActive="router-link-active" class="btn btn-primary">volver</button>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <table class="table table-hover blanca mt-3">
        <tr class="bg-primary cabecera">
          <td>
            id
          </td>
          <td>
            fecha
          </td>
          <td>
            Matrícula
          </td>
          <td>
            concepto
          </td>
          <td>
            importe
          </td>
          <td>
            Acciones
          </td>
        </tr>
        <tr *ngFor="let multa of multas">
          <td>
            {{ multa.id}}
          </td>
          <td>
            {{ multa.fechaAlta}}
          </td>
          <td>
            {{ multa.vehiculo.matricula}}
          </td>
          <td>
            {{ multa.concepto}}
          </td>
          <td>
            {{ multa.importe}}
          </td>
          <td>
            <button class="btn btn-primary btn-block" (click)="recuperarMulta(multa.id)"><i class="fas fa-reply"></i></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
