<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <app-infoagente></app-infoagente>
      <app-mensajes [mensaje]="mensaje"></app-mensajes>
    </div>
    <div class="row centrado">
      <div class="col-12">
        <img src="/assets/descarga.png" alt="lupa">
        <form [formGroup]="formulario" (submit)="buscarmatricula()">
          <label for="matricula" class="h3">Buscar matrícula</label><br>
          <input formControlName="matricula" type="text" placeholder="0000MMM">
          <button [disabled]="formulario.invalid" type="submit" class="ml-2 btn btn-primary">Buscar</button>
          <button class="btn btn-primary btn-block mt-3 mr-2" [routerLink]="['/menuprincipal']" routerLinkActive="router-link-active">Volver</button>
        </form>
      </div>
    </div>
  </div>
</div>
