<div class="container mt-5 ">
  <app-infoagente></app-infoagente>
  <app-mensajes [mensaje]="mensaje"></app-mensajes>
  <div class="row d-flex justify-content-center">
    <div class="col-6 justify-content-center">
      <span class="h1 mr-3">LISTADO DE MULTAS</span>
      <button [routerLink]="['/menuprincipal']" routerLinkActive="router-link-active" class="btn btn-primary  ">volver</button>
    </div>
  </div>
  <div class="row d-flex mt-3 justify-content-center">
    <div class="col-10">
      <table class="table table-hover blanca">
        <thead>
          <tr class="bg-primary cabecera">
            <th>
              id
            </th>
            <th>
              fecha
            </th>
            <th>
              Matrícula
            </th>
            <th>
              concepto
            </th>
            <th>
              importe
            </th>
            <th>
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let multa of multas">
            <td>
              {{ multa.id}}
            </td>
            <td>
              {{ multa.fechaAlta}}
            </td>
            <td>
              {{ multa.vehiculo.matricula}}
            </td>
            <td>
              {{ multa.concepto}}
            </td>
            <td>
              {{ multa.importe}}
            </td>
            <td>
              <button class="btn btn-primary btn-block" (click)="anularMulta(multa.id)"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
