<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="d-flex">
  <div>
    <span class="navbar-brand "><a [routerLink]="['/menuprincipal']" class="btn btn-outline-primary btn-block"><img
          width="30px" height="40px" src="assets/escudo-policia-nacional.png" alt="escudo policia"></a></span>
  </div>
  <div>
    <span class="navbar-brand float-right">Bienvenido Agente {{agenteLogueado._nombre}}</span>
  </div>
  <div class="float-right">
    <span><button (click)="logout()" class="btn btn-danger">Salir</button></span>
  </div>
</div>
</nav>
