<div *ngIf="mensaje.mensaje != ''" class="alert alert-{{mensaje.tipo}} fade show" role="alert">
  <p>{{mensaje.mensaje}}</p>
  <button type="button" class="close" data-dismiss="alert" >
  </button>
</div>