<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <!--<div style="border:1px solid red; padding:10px;">
        <p>Valores: {{ formulario.value | json }}</p>
        <p>Estado: {{ formulario.status | json }}</p>
      </div>-->
      <form [formGroup]="formulario" (submit)="comprobar()" class="form-signin ">
        <img class="mb-4 w-100 " src="assets/escudo-policia-nacional.png" alt="">
        <app-mensajes [mensaje]="mensaje"></app-mensajes>
        <span class="h3 mb-3 font-weight-normal">Ingreso</span>
        <label for="placa" class="sr-only">Número de placa</label>
        <input type="number" formControlName="placa" id="placa" class="form-control mb-3" placeholder="6 digitos" required
          autofocus>
          <p *ngIf="formulario.controls.placa.invalid && formulario.controls.placa.touched"  
  class="text-danger">* sólo valores entre 100000 y 999999</p>
        <label for="pass" class="sr-only">Contraseña</label>
        <input type="password" formControlName="pass" id="pass" class="form-control mb-3" placeholder="Contraseña"
          required>
          <p *ngIf="formulario.controls.pass.invalid && formulario.controls.pass.touched"  
  class="text-danger">*recuerda que minimo 3 letras y màximo 12</p>
        <!--  <div class="checkbox mb-3">
         <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>-->
        <button type="submit" [disabled]="formulario.invalid" class="btn btn-primary btn-block">Acceder</button>
      </form>
    </div>
  </div>
</div>
