<div class="container mt-4">
    <app-infoagente></app-infoagente>
  <div class="row d-flex centrado">
    <div class="col-12">
      
        <app-mensajes [mensaje]='mensaje'></app-mensajes>
      <form class="form-signin " [formGroup]="formulario" (submit)="ponerMulta()">
        <h2>Caracteristicas del vehiculo a multar</h2>
        <input formControlName="idvehiculo" type="hidden" value="">
        <p>Matricula: <b>{{vehiculoBuscado.matricula}}</b></p>
        <p>Modelo: <b>{{vehiculoBuscado.modelo}}</b></p>
        <p>Km: <b>{{vehiculoBuscado.km}}</b></p>
        <label for="concepto">Concepto</label>
        <input type="text" formControlName="concepto" class="form-control">
        <label for="importe">Importe</label>
        <input type="number" formControlName="importe" class="form-control">
        <button class="btn btn-primary btn-block mt-3" type="submit">Multar</button>
        <div class="d-flex">
          <button class="btn btn-primary btn-block mt-3 mr-2" [routerLink]="['/buscamatricula']" routerLinkActive="router-link-active" >Cambiar de matrícula</button>
          <button class="btn btn-primary btn-block mt-3 ml-2" [routerLink]="['/menuprincipal']" routerLinkActive="router-link-active" >Volver al inicio</button>
        </div>
      </form>
    </div>
  </div>
  </div>
