
<div class="container">
    <div class="row d-flex centrado">
        <div class="col-12">
            <div >
                <h1>
                    Ande esta lo que buscas?</h1>
                <h2>
                    404 Página no encontrada</h2>
                <div class="error-details">
                    La página que buscas no existe
                </div>
                <div class="error-actions">
                    <a [routerLink]="['/menuprincipal']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Volver al menú </a>
                </div>
            </div>
        </div>
    </div>
</div>